<div class="row round-corners index-page">
  <h1>Lender Menu</h1>
  <h2>
    <%= link_to ("View Bid History", :controller => "lender", :action => "bid_history") %>
  </h2>
  <h2>
    <%= link_to ("View Current Loans", :controller => "lender",  :action => "loan_history") %>
  </h2>
</div>
