<center>
<div style="height:20px;clear:both">
</div>
<B>Select User Type</B><BR><BR>
<div style="width:400px;padding-top:30px;font-weight:bold">
	<div style="float:left;padding:10px;border:1px solid;background:#EAE9E9">
	 <%= link_to 'Installer', :controller => :installer, :action => :new_installer %>
	</div>
	<div style="float:right;padding:10px;border:1px solid;background:#EAE9E9">
	 <%= link_to 'Lender', :controller => :lender, :action => :lender_registration %>
	</div>
</div>	
<br/>
</center>
