<h1>ABOUT US</h1>
<p>
  Banks and other financial institutions continue to shy away from funding loans or leasing programs for many asset-rich organizations like churches and private schools to make solar a viable option for them. That’s because  solar incentives are deeply embedded in the federal and state tax codes, and are therefore not accessible by non-profits that are tax exempt.
</p>
<p>
  CollectiveSun, LLP saw this problem as a major need: the small non-profit category is one of the most underserved sectors in the Distributed Generation Solar Market.  The CollectiveSun platform was created to fill this void, and uses the collective power of a non-profit’s own members to fund such an initiative without cannibalizing donations for current operations or ask for a hand out.</p>
<p>
  We invite you to visit our “How It Works” pages, Use Case Study and FAQ sections to find out more. Better yet, contact us .
</p>
