<h1>CollectiveSun – Fueling solar for your favorite non-profit</h1>
<p>
  Whether it’s a church, private school or other non-profit organization, you have an affinity towards such institutions because you support their mission. They are dedicated organizations wanting to ensure that every dime possible does directly to their cause.  Lowering their utility bills with a self-sustaining solar power system helps them stay focused on the core mission. Like other organizations, it is asset rich, but modest in cash holdings, and can’t arrange financing or get enough donors to make a sizable enough gift to pay for it. Waiting 20 years for the return on such an investment is also hard to justify to the expense.
</p>

<p>
  Now you can do something about that.
</p>

<p>
  CollectiveSun exists to help you support your favorite non-profit’s solar energy initiative to lowers that organization’s energy costs from day one. We can create a loan arrangement – not a donation - funded by you and other members who will then get all your money plus interest back in annual increments until the debt is repaid. In doing so, you will be giving more for less. Our transparent program literally brings together the best of both worlds!
</p>

<p>
  This isn’t magic, but a sound, proven and very real financial option for non-profits that want to put solar panels on their buildings. This program is possible thanks to dedicated members like you who have full faith, confidence and affinity towards the non-profit to come up with money to collateralize a transaction that the non-profit can’t do on their own.
</p>

<p>
  Contact us for more information or go to our website to read about how this works. We guarantee that your time will be well spent.  CollectiveSun – Investing in Solar Together.
</p>
