<h1>FREQUENTLY ASKED QUESTIONS (FAQs)</h1>
<p>
  <b>Why is an organization like CollectiveSun necessary?</b>
  <br/>
  This sound and fully transparent financial program is simple in its approach and very achievable by non-profit organizations, such as churches, private schools. Such institutions are rich in assets, but modest in cash holdings. Banks and lending firms can’t make the numbers work to write a debt note under these circumstances. With CollectiveSun, members are asked to collectively fund a loan to collateralize the solar power installation.  Fully amortized payments are made to members annually, with the full amount repaid  over a period of time (typically 12-15 years) at a guaranteed interest rate (usually between two and three percent). At the end of the time period, the loan has been paid off, the non-profit owns the system and the members recoup their loan with interest.
</p>

<p>
  <b>
    We keep hearing about tax incentives for organizations wanting to go solar. Why aren’t they an option?
  </b>
  <br/>
  Non-profits are tax exempt organizations that do not have a tax liability, so the tax credits for solar power systems aren’t available to them. Furthermore, banks and lending firms turn down most non-profits for loans on such initiatives because they typically don’t have the excessively large cash reserves to make it possible from their perspective. CollectiveSun leverages the power of an organization’s dedicated members to become a business partner and generate money from their loan that they can use themselves or give back to the non-profit. Either way, these individuals are truly giving more for less. This program is possible thanks to the dedicated members who have full faith, confidence and affinity towards the non-profit to come up with money to collateralize the loan that non-profits can’t do on their own.
</p>

<p>
  <b>
    How about leasing arrangements where organizations can get solar for no money down?
  </b>
  <br/>
  Non-profits typically don’t qualify for the requirements of 3rd party leases and PPA lenders, especially in a post 1603 cash grant in lieu of tax credit world. these options. Even if they did, the reality is that the organizations would spend a lot of money for several years, but never be any closer to owning the system. With CollectiveSun, members are asked to collectively fund the collateralization of the solar power installation, with the amount being repaid to them over a period of time (typically 12-15 years) at a guaranteed interest rate (usually between two and three percent).  At the end of the time period, the loan has been paid off, the non-profit owns the system and the members recoup their loan with interest.
</p>

<p>
  <b>
    Going solar is a great thought, but I understand that organizations have to wait 20 years just to break even. True?
  </b>
  <br/>
  The biggest benefit to the organization is in lowering energy costs from the moment the solar power system is turned on. Their lower energy bill combined with the loan payment is still less than what they were paying the electric company before the installation. There’s immediate payback that otherwise wouldn’t have been there had the non-profit been forced to come up with all the funds up front.
</p>

<p>
  <b>
    Why wouldn’t members just donate the funds instead of going through a loan arrangement by using CollectiveSun?
  </b>
  <br/>
  Because of their tax-exempt status a non-profit would have to forgo two significant tax based incentives (federal Investment Tax Credit (ITC), and 5-year MACRS depreciation) if they purchased and owned the system for themselves.  The CollectiveSun platform monetizes the tax based incentives and passes them along to the non-profit in the form of lower PPA payments. By becoming a business partner, the members are truly giving more for less. These individuals are asked to collectively fund a loan to collateralize the solar power installation, with the amount being repaid to them over a period of time (typically 12-15 years) at a guaranteed interest rate (usually between two and three percent). They can keep the annual loan repayments or choose to give it all back to the non-profit. This isn’t magic, but a sound, proven and very real financial option for non-profits that want to put solar panels on their buildings. This program is possible thanks to dedicated members like you who have full faith, confidence and affinity towards the non-profit to come up with money to collateralize the solar system  that non-profits can’t do on their own.
</p>
