<h1>HOW IT WORKS</h1>
<p>
  This sound and fully transparent financial program is simple in its approach and very achievable by non-profit organizations, such as churches, private schools and other institutions that are rich in assets, but modest in cash holdings. Banks and lending firms can’t make the numbers work to write a debt note under these circumstances. So instead, members are asked to collectively fund a loan to collateralize  the solar power installation.  Fully amortized payments are made to members annually, with the full amount repaid over a period of time (typically 12-15 years) at a guaranteed interest rate (usually between two and three percent).  At the end of the time period, the loan has been paid off, the non-profit owns the system and the members recoup their loan with interest.
</p>

<p>
  The biggest benefit to the organization is in lowering energy costs from the moment the solar power system is turned on. Their lower energy bill combined with a power purchase agreement (PPA)payment is still less than what they were paying the electric company before the installation. There’s immediate payback that otherwise wouldn’t have been there had the non-profit been forced to come up with all the funds on their own and paid for the system up front.
</p>

<p>
 Additionally, members are not asked to “donate” to the cause. Rather, they become a business partner and generate money from their loan that they can use themselves or give back to the non-profit. Either way, these individuals are truly giving more for less. This program is possible thanks to the dedicated members who have full faith, confidence and affinity towards the non-profit to come up with money to collateralize a transaction that the non-profit can’t do on their own.
</p>

<p>
  Click here to read an example on how this is done, or call us to set up a meeting and discuss. We’ll be happy to explain it in detail.
</p>

