<h2>Investors</h2>
<p>
Participating in a CollectiveSun investment is a simple 3 step process:</p>
<p>
<ol>
<li>Register for an account.</li>
<li>Select a project and pledge your investment amount.</li>
<li>Tell your friends!</li> 
</ol>
</p>
<p>Once a project has reached its investment goal, the project will be funded and construction will commence.  If the project does not reach its goal in the alloted time, the project is cancelled and no investments will be collected.</p>

<h2>About the Investment</h2>
<p>Your investment is a <strong>debt</strong> instrument with CollectiveSun, LLC in the form of a &apos;borrower payment dependent note&apos;.  This means that if your selected project defaults on its service agreement with CollectiveSun, LLC, you will lose your entire investment.  The debt is a fully amortized 12 year note and pays on an annual basis including both principal and interest.</p>
