<h1>CollectiveSun – Generating Power BY Your People</h1>
<p>
  Organizations like yours are asset rich, but modest in cash holdings, and have struggled with wanting to build a self sustaining solar power system to lower long-term energy costs. Banks won’t lend you money to buy or lease such a platform, and asking for donations for one more initiative is not something you’d like to do. Waiting 20 years for the return on such an investment is also hard to justify to your board and financial advisors.
</p>

<p>
  Now you can do something about that.
</p>

<p>
  CollectiveSun exists to help non-profit groups implement a solar energy project that lowers energy costs from day one. We can create a loan arrangement funded by your dedicated members who will then get all of their money – plus interest – back in annual increments until the debt is repaid. Non-profits need not ask them for another contribution, but rather to partner in a mutually-beneficial endeavor. Members can therefore give more for less and the non-profit can enjoy lower operational expenses from the moment the solar power system is turned on.  All of this occurs without any capital investment or draining limited non-profit reserves. Our transparent program literally brings together the best of both worlds!
</p>

<p>
  This isn’t magic, but a sound, proven and very real financial option for non-profits that want to put solar panels on their buildings. This program is possible thanks to the dedicated members who have full faith, confidence and affinity towards the non-profit to come up with money to collateralize a transaction that the non-profit  can’t do on their own.
</p>

<p>
  Contact us for more information or go to our website to read about how this works. We guarantee that your time will be well spent. CollectiveSun – Investing in Solar Together.
</p>
