<h1>USE CASE STUDY – PRIVATE SCHOOL</h1>
<p>
  A Southern California-based private school has served K-12 students for more than 50 years. Its campus stretches across 25 acres and boasts more than 30 classrooms, a modern gymnasium, several large playing fields, a full library, three 30-station computer labs, a weight-training room, courtyards and music facilities. The school has prided itself on keeping current with technology for its learning and operational environments. Administrators and its board of directors have always looked for creative ways to keep budgets reasonable, and concluded that one way to do this is by implementing a self-sustaining, solar energy project that would reduce their power costs. Its current monthly electric bill is in excess of $4,200.
</p>

<p>
  The problem, however, is in coming up with the needed capital to fund the initiative. It is estimated that an adequate solar power system would need to be sized to approximately 140 kW of power and cost $650,000 to build. The school’s current fundraising efforts are just enough to cover current operations, and there is concern that launching a separate campaign for the solar project will hamper their ability raise money to continue their existing educational programs at the desired levels. Banks and lending institutions are also reluctant to lend the school funds. While the school has sizeable assets with the property they owned, it doesn’t have the excessively large cash reserves financial institutions prefer to see in order to make such a loan or even a leasing program palatable to them.
</p>

<p>
  That’s where CollectiveSun comes in. The company empowers non-profit organizations like this one to pool its donors and other supporters who have full faith and confidence in the school to collectively fund collateral to cover the costs of the solar power installation, with the amount being repaid to them over in annual payments over approximately 12-15 years at 2.65 percent interest. At the end of the time period, the loan will is paid off, the school will own the system and the members have been paid back $63,304 per year for a total of $759,648.
</p>

<p>
  The biggest benefit to the organization is lower energy costs from the moment the solar power system is turned on. Their lower energy bill combined with the power purchase agreement (PPA) payment would still be less than what they are paying the electric company before the installation – nearly $300 less per month. There’s immediate payback that otherwise wouldn’t have been there had the school been forced to come up with all the funds up front.
</p>

<p>
  Thanks to CollectiveSun, this school can finally realize their dream of going solar, realizing immediate cost savings and endearing themselves further to their members. Where leasing and loan programs are not available, this program of generating power by the people who have full faith and confidence in the school make the solar initiative not only possible, but financially prudent to do so.
</p>
